Repository Motouom/PackIt, pull requests merged in 2024-07, with the labels that each got.

#36 Set up ci/cd GitHub actions #8
  .DS_Store
  .github/workflows/ci-cd-backend.yml
  .github/workflows/frontend.yml
  PackIt-frontend/Dockerfile
  PackIt-frontend/package-lock.json
  PackIt-frontend/package.json
  packit-backend/Dockerfile
  packit-backend/build.gradle.kts
  packit-backend/settings.gradle.kts
  packit-backend/src/main/kotlin/com/packit/packit_backend/PackitBackendApplication.kt
  packit-backend/src/main/resources/application.properties
  packit-backend/src/test/kotlin/com/packit/packit_backend/PackitBackendApplicationTests.kt
Labels: Frontend, Backend, Workflow

#37 Updated README with setup instructions and prerequisites
  README.md
Labels: documentation

#38 doc(frontend) : added Frontend documentation
  doc/Frontend-Documentation.md
Labels: documentation, Frontend
